:root {
    --branco-principal:#FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7; 
    --cor-de-fundo: #00030C; 
}

body{
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
}
*{
    margin: 0;
    padding: 0;
}

.principal {
background-image: url("WhatsApp\ Image\ 2023-05-16\ at\ 21.56.06.jpeg");
}
